.divFundoManageLanch{
width: 99vw;
/* background-color: antiquewhite; */
}
.bannerMenuLanch{
    display: flex;
    position: relative;
    margin: auto;
    width: 80vw;
    height: 10vh;
    border-radius: 10px;
    background-color: sandybrown;
    color:black;
    font-size:x-large;
    justify-content: center;
    padding: 10px;
   
}